.flex-media {
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-new {
  display: inline-block;
  position: relative;
}

.dropdown-new:hover .dropdown-menu {
  display: block;
}

.inp-filter {
  width: 350px;
}

@media screen and (max-width: 600px) {
  .flex-media {
    height: 150px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
